#myNavBar {
    height: 100px;
}

#navbarNav {
    margin-left: 20rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: aliceblue;
}

button {
    display: inline-block;
    margin-left: 0.7rem;
    border-left: 1px dotted white;
    height: 45px;
}

.bi-envelope {
    font-size: 2rem;
    color: cornflowerblue;
}

.btn {
    background-color: #05e7f7; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15rem;
    height: 50px;
    width: 250px;
}

#widgets_div .icon_div {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

#widgets_div .icon_div span i {
    font-size: 2.5rem;
}

#widgets_div .text_div {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

#widgets_div .text_div span {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#widgets_div .text_div span + span {
    color: #747F85;
    font-size: 20px;
}

/*for phone icon*/
.bi-phone {
    font-size: 2rem;
    color: cornflowerblue;
}

#phoneDiv .icon_div {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

#phoneDiv .icon_div span i {
    font-size: 2.5rem;
}

#phoneDiv .text_div {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

#phoneDiv .text_div span {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#phoneDiv .text_div span + span {
    color: #747F85;
    font-size: 20px;
}

/*for location icon*/
.bi-geo-alt {
    font-size: 2rem;
    color: cornflowerblue;
}

#locationDiv .icon_div {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

#locationDiv .icon_div span i {
    font-size: 2.5rem;
}

#locationDiv .text_div {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

#locationDiv .text_div span {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#locationDiv .text_div span + span {
    color: #747F85;
    font-size: 20px;
}

/*dropdown*/

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    border: none;
    margin-top: 1px;
}

.dropdown-item {
    padding: 12px 40px 12px 20px;
    font-size: 15px;
    font-family: arial, serif;
    color: black;
    font-weight: bold;
    background-color: white;
    transform-origin: center;
    animation: rotate 1.5s ease 1s;
}

@keyframes rotate {
    0% {
        transform: perspective(600px) rotateY(90deg);
        transform-origin: center;
    }
    100% {
        transform: perspective(600px) rotateY(0deg);
        transform-origin: center;
    }
}

.dropdown-menu .dropdown-item:nth-of-type(1) {
    animation-delay: 0s;
}

.dropdown-menu .dropdown-item:nth-of-type(2) {
    animation-delay: 0.1s;
}

.dropdown-menu .dropdown-item:nth-of-type(3) {
    animation-delay: 0.2s;
}

.dropdown-menu .dropdown-item:nth-of-type(4) {
    animation-delay: 0.3s;
}

.dropdown-menu .dropdown-item:nth-of-type(5) {
    animation-delay: 0.4s;
}

.dropdown-menu .dropdown-item:nth-of-type(6) {
    animation-delay: 0.5s;
}

.dropdown-menu .dropdown-item:nth-of-type(7) {
    animation-delay: 0.6s;
}

li .dropdown-item:hover {
    background-color: aquamarine;
    color: white;
}


/*carousel*/
.carousel-item {
    height: 80vh;
    min-height: 300px;
    background: no-repeat scroll center;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 100px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 18px;
    top: 2rem;
}

.carousel-control-next {
    position: absolute;
    top: 50%; /* pushes the icon in the middle of the height */
    z-index: 5;
    display: inline-block;
}

.carousel-control-prev {
    position: absolute;
    top: 50%; /* pushes the icon in the middle of the height */
    z-index: 5;
    display: inline-block;
}

/*.carousel-control-next-icon {*/
/*    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;*/
/*}*/

/*.carousel-control-prev-icon {*/
/*    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;*/
/*}*/
.navbar .navbar-nav .nav-link {
    color: #fff;
    padding: 1em 0.7em;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: aquamarine;
    color: #0b111a;
}

.container-fluid .navbar-brand {
    color: #fff;
    padding: 0.7em 0.4em;
    transition: all 0.5s;
}

.container-fluid .navbar-brand:hover {
    background-color: aquamarine;
    color: #0b111a;
}

.btn-warning {
    color: #0b111a;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-right: 1px solid wheat;
    }
}

.heart {
    padding-left: 7rem;
    padding-top: 7rem;
}

.hr1 {
    width: 10%;
    margin-left: 7.2rem;
    height: 5px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left, blue, red);
}

.hr2 {
    width: 5%;
    margin-left: 7.2rem;
}

/*breadcrump*/
/*.breadcrumb-arrow {*/
/*    height: 36px;*/
/*    padding: 0;*/
/*    line-height: 36px;*/
/*    list-style: none;*/
/*    background-color: #e6e9ed*/
/*}*/
/*.breadcrumb-arrow li:first-child a {*/
/*    border-radius: 4px 0 0 4px;*/
/*    -webkit-border-radius: 4px 0 0 4px;*/
/*    -moz-border-radius: 4px 0 0 4px*/
/*}*/
/*.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {*/
/*    display: inline-block;*/
/*    vertical-align: top*/
/*}*/
/*.breadcrumb-arrow li:not(:first-child) {*/
/*    margin-left: -5px*/
/*}*/
/*.breadcrumb-arrow li+li:before {*/
/*    padding: 0;*/
/*    content: ""*/
/*}*/
/*.breadcrumb-arrow li span {*/
/*    padding: 0 10px*/
/*}*/
/*.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {*/
/*    height: 36px;*/
/*    padding: 0 10px 0 25px;*/
/*    line-height: 36px*/
/*}*/
/*.breadcrumb-arrow li:first-child a {*/
/*    padding: 0 10px*/
/*}*/
/*.breadcrumb-arrow li a {*/
/*    position: relative;*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    background-color: #3bafda;*/
/*    border: 1px solid #3bafda*/
/*}*/
/*.breadcrumb-arrow li:first-child a {*/
/*    padding-left: 10px*/
/*}*/
/*.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {*/
/*    position: absolute;*/
/*    top: -1px;*/
/*    width: 0;*/
/*    height: 0;*/
/*    content: '';*/
/*    border-top: 18px solid transparent;*/
/*    border-bottom: 18px solid transparent*/
/*}*/
/*.breadcrumb-arrow li a:before {*/
/*    right: -10px;*/
/*    z-index: 3;*/
/*    border-left-color: #3bafda;*/
/*    border-left-style: solid;*/
/*    border-left-width: 11px*/
/*}*/
/*.breadcrumb-arrow li a:after {*/
/*    right: -11px;*/
/*    z-index: 2;*/
/*    border-left: 11px solid #2494be*/
/*}*/
/*.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {*/
/*    background-color: #4fc1e9;*/
/*    border: 1px solid #4fc1e9*/
/*}*/
/*.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {*/
/*    border-left-color: #4fc1e9*/
/*}*/
/*.breadcrumb-arrow li a:active {*/
/*    background-color: #2494be;*/
/*    border: 1px solid #2494be*/
/*}*/
/*.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {*/
/*    border-left-color: #2494be*/
/*}*/
/*.breadcrumb-arrow li span {*/
/*    color: #434a54*/
/*}*/

.overflow-hidden {
    padding-top: 2rem;
}

.checkmark {
    list-style: none;
}

.checkmark li:before {
    color: red;
    content: '✓';
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .8s;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

textarea {
    resize: none;
}
